## This notebook is used to experiment with different analysis workflows on CSV file (Electronic_product_detail.csv) before building the final automated analyzer script.

In [5]:
# importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
# reading csv file
file = pd.read_csv('electronic_product_details.csv')

In [7]:
# displaying top 10 rows of the file
file.head(10)

,OrderID,ProductCategory,ProductPrice,Quantity,Region,OrderDate,PaymentMethod
0,1,Electronics,1200.50,2.0,North,15-01-2024 10:00,Credit Card
1,2,Clothing,45.99,3.0,South,16-01-2024 11:30,Debit Card
2,3,Home Goods,250.00,1.0,East,17-01-2024 12:45,Cash
3,4,Books,15.75,5.0,West,18-01-2024 14:00,Credit Card
4,5,Electronics,800.00,NaN,North,19-01-2024 15:15,Debit Card
5,6,Clothing,60.00,2.0,South,20-01-2024 16:30,Credit Card
6,7,Home Goods,NaN,1.0,East,21-01-2024 17:45,Cash
7,8,Books,20.00,4.0,West,22-01-2024 18:00,Credit Card
8,9,Electronics,1200.50,2.0,North,15-01-2024 10:00,Credit Card
9,10,Food,10.25,10.0,Central,23-01-2024 09:00,Debit Card