## This notebook is used to experiment with different analysis workflows on CSV file (Electronic_product_detail.csv) before building the final automated analyzer script.

In [14]:
# importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import kagglehub
import os

In [12]:
# reading csv file
file = pd.read_csv('electronic_product_details.csv')

In [20]:
# using kagglehub to download datasets
foldername = 'sample_datasets'
if not os.path.exists(foldername):
    os.makedirs(foldername, exist_ok=True)
    path = kagglehub.dataset_download("ankushpanday2/indian-kids-screentime-2025", path=foldername)

print("Path to dataset files:", path)

Path to dataset files: C:\Users\shree\.cache\kagglehub\datasets\ankushpanday2\indian-kids-screentime-2025\versions\1

In [3]:
# displaying top 5 rows of the file
file.head()

,OrderID,ProductCategory,ProductPrice,Quantity,Region,OrderDate,PaymentMethod
0,1,Electronics,1200.50,2.0,North,15-01-2024 10:00,Credit Card
1,2,Clothing,45.99,3.0,South,16-01-2024 11:30,Debit Card
2,3,Home Goods,250.00,1.0,East,17-01-2024 12:45,Cash
3,4,Books,15.75,5.0,West,18-01-2024 14:00,Credit Card
4,5,Electronics,800.00,NaN,North,19-01-2024 15:15,Debit Card

In [4]:
# displaying bottom 5 rows of the file
file.tail(5)

,OrderID,ProductCategory,ProductPrice,Quantity,Region,OrderDate,PaymentMethod
195,196,Food,12.5,8.0,Central,28-01-2024 15:30,Debit Card
196,197,Electronics,950.0,1.0,North,29-01-2024 16:45,Credit Card
197,198,Clothing,70.0,3.0,South,30-01-2024 17:00,Cash
198,199,Home Goods,280.0,1.0,East,31-01-2024 18:15,Debit Card
199,200,Books,22.0,6.0,West,01-02-2024 09:30,Credit Card

In [5]:
# size of the file (column_number, row_number)
file.shape

(200, 7)

In [6]:
# datatype of columns
file.dtypes

OrderID              int64
ProductCategory     object
ProductPrice       float64
Quantity           float64
Region              object
OrderDate           object
PaymentMethod       object
dtype: object

In [7]:
file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   OrderID          200 non-null    int64
 1   ProductCategory  200 non-null    object
 2   ProductPrice     182 non-null    float64
 3   Quantity         163 non-null    float64
 4   Region           200 non-null    object
 5   OrderDate        200 non-null    object
 6   PaymentMethod    194 non-null    object
dtypes: float64(2), int64(1), object(4)
memory usage: 11.1+ KB

In [10]:
file.describe()

          OrderID  ProductPrice    Quantity
count  200.000000    182.000000  163.000000
mean   100.500000    308.006593    3.822086
std     57.879185    431.613276    3.077036
min      1.000000      8.500000    1.000000
25%     50.750000     16.625000    1.500000
50%    100.500000     52.000000    3.000000
75%    150.250000    317.500000    5.000000
max    200.000000   1500.000000   12.000000

In [8]:
# displaying the number of unique values column wise
f = file.nunique()

In [9]:
# displaying number of duplicates column wise
duplicates_per_columns = file.apply(lambda x: x.duplicated().sum())
duplicates_per_columns

OrderID              0
ProductCategory    195
ProductPrice       128
Quantity           187
Region             195
OrderDate          116
PaymentMethod      196
dtype: int64